$navColor: #eb6864;

#splash {
    i {
        color: $navColor;
    }

    .pic {
        position: relative;
        margin: 10px 5px;
    }
}

#questions {
    i {
        color: $navColor;
    }

    .divStatistics {
        float:left;
        width: 70px;
        text-align: center;
    }
    .question {
        float:left;
        height: 100%;
        vertical-align: center;
    }

    br {
        clear: both;
    }

    a {
        text-decoration: none;
    }
}


#login {
    position: absolute;
    right: .5rem;
}