@import '../css/journal.css';

$navColor: #eb6864;

#splash {
    i {
        color: $navColor;
    }

    .pic {
        position: relative;
        margin: 10px 5px;
    }
}

#questions_page {
    border: 3px solid #fff;
    padding: 20px;
    display: flex;
    align-content: flex-start;
    max-width: 1000px;
}

#filter_div {
    width: 10em;
    display: inline-block;
    flex-grow: 0;
    padding-right: 20px;    
}

#questions {
    min-width: 400px;
    flex-grow: 1000;
    display: inline-block;
    padding: 0px 20px;
    border-left: 2px solid red; 

    i {
        color: $navColor;
    }

    .divStatistics {
        float:left;
        width: 70px;
        text-align: center;
    }
    .question {
        display: inline;
        
    }

    hr {
        clear: both;
    }

    a {
        text-decoration: none;
        font-size: 1.25rem;
    }

    #btnAsk {
        float: right;
    }
}


#login {
    position: absolute;
    right: .5rem;
}


/*----------------------------------------------*/
/* Question Detail Page                         */
/*----------------------------------------------*/
#question_detail_page {
    border: 3px solid #fff;
    padding: 20px;
    display: flex;
    align-content: flex-start;
    max-width: 1000px;

    #question_detail {
        min-width: 400px;
        min-height: 400px;
        flex-grow: 1000;
        display: inline-block;
        padding: 0px 20px;
        border-left: 2px solid red; 
    }
}

/*----------------------------------------------*/
/* Ask Question Form                            */
/*----------------------------------------------*/

#ask-container {
    
}

#ask-form {
    background-color: white;
    margin: 20px;
}